profiles {
    'google-batch' {
        docker.enabled = true

        process {
            withLabel: containerized {
                container = "olivierlabayle/aou-gwas:main"
            }
            executor = 'google-batch'
        }
        // Google Batch config
        workDir = "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/work"
        outputDir = "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs"

        google.location = "us-central1"
        google.project = env('GOOGLE_CLOUD_PROJECT')
        google.enableRequesterPaysBuckets = true

        google.batch.serviceAccountEmail = env('GOOGLE_SERVICE_ACCOUNT_EMAIL')
        google.batch.usePrivateAddress = true
        google.batch.network = 'global/networks/network'
        google.batch.subnetwork = "regions/us-central1/subnetworks/subnetwork"
        google.batch.bootDiskSize = "100.GB"
    }

    'local' {
        process.executor = 'local'
        docker.enabled = true
    }
}
