{
    "gwas.covariates_file": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/covariates/covariates.tsv",
    "gwas.loco_pca": "true",
    "gwas.gwas_software": "plink2",
    "gwas.split_categorical_covariates": "false",
    "gwas.finemap": "false",
    "gwas.covariates": ["AGE", "SEX_AT_BIRTH", "AGE_x_AGE", "AGE_x_SEX_AT_BIRTH"],
    "gwas.groupby": ["SUPERPOPULATION"],
    "gwas.meta_exclude": ["MID"],
    "gwas.phenotypes": ["INFLUENZA"], // options ["PNEUMONIA", "INFLUENZA", "PANCREATITIS", "GROUP_A_STREPTOCOCCAL_INFECTION", "SUPERPOPULATION"]
    "gwas.npcs": "20",
    "gwas.maf": "0.005",
    "gwas.genotypes": {
        "chr": "all",
        "bed": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/array_genotypes/arrays.qced.bed",
        "bim": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/array_genotypes/arrays.qced.bim",
        "fam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/array_genotypes/arrays.qced.fam"
    },
    "gwas.imputed_genotypes": [
        {
            "chr": "1",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr1.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr1.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr1.qced.pvar"
        },
        {
            "chr": "2",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr2.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr2.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr2.qced.pvar"
        },
        {
            "chr": "3",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr3.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr3.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr3.qced.pvar"
        },
        {
            "chr": "4",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr4.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr4.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr4.qced.pvar"
        },
        {
            "chr": "5",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr5.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr5.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr5.qced.pvar"
        },
        {
            "chr": "6",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr6.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr6.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr6.qced.pvar"
        },
                {
            "chr": "7",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr7.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr7.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr7.qced.pvar"
        },
        {
            "chr": "8",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr8.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr8.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr8.qced.pvar"
        },
        {
            "chr": "9",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr9.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr9.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr9.qced.pvar"
        },
                {
            "chr": "10",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr10.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr10.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr10.qced.pvar"
        },
        {
            "chr": "11",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr11.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr11.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr11.qced.pvar"
        },
        {
            "chr": "12",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr12.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr12.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr12.qced.pvar"
        },
        {
            "chr": "13",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr13.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr13.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr13.qced.pvar"
        },
        {
            "chr": "14",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr14.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr14.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr14.qced.pvar"
        },
        {
            "chr": "15",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr15.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr15.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr15.qced.pvar"
        },
                {
            "chr": "16",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr16.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr16.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr16.qced.pvar"
        },
        {
            "chr": "17",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr17.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr17.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr17.qced.pvar"
        },
        {
            "chr": "18",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr18.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr18.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr18.qced.pvar"
        },
        {
            "chr": "19",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr19.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr19.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr19.qced.pvar"
        },
        {
            "chr": "20",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr20.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr20.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr20.qced.pvar"
        },
        {
            "chr": "21",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr21.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr21.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr21.qced.pvar"
        },
        {
            "chr": "22",
            "pgen": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr22.qced.pgen",
            "psam": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr22.qced.psam",
            "pvar": "gs://cloud-storage-critical-illness-wb-helpful-coffee-2299/nextflow-files/outputs/imputed_genotypes/chr22.qced.pvar"
        }
    ]
}